*{
    font-family: 'Old Standard TT', serif;
}.top{
    height: 500px;
    width: 100%;
    background-image: url("mountain.jpg");
    background-repeat: no-repeat;
    background-size: cover;
}
.topleft{
    height: 100%;
    width: 45%;
    float: left;
    padding-left: 220px;
}
.topleft h3{
    color: #93BE14;
   margin-bottom: 80px;
}
.topleft h4{
    color: white;
    padding-right: 520px;
    
}
.topleft h2{
    color: white;
}
.topleft h1{
    color: #93BE14;
}
.topleft p{
    color: white;
    text-align: left;
}
.topleft button{
    height: 30px;
    width: 180px;
    background-color: #69BE14;
    border: none;
    border-radius: 5px;
}
.view a{
    text-decoration: none;
    color: white;
}
.topright{
    height: 100%;
    width: 30%;
    float: left;
}
.main{
    height: 100%;
    width: 300px;
    background-color: #93BE14;
    padding-top: 1px;
}
.main h4{
    color: white;
    padding-top: 90px;
}
.topright h3,h4,p{
    text-align: center;
    color: white;
} 
input{
    height: 28px;
    width: 90%;
    background-color: #93BE14;
    color: white;
    border-top: none;
    border-left: none;
    border-right: none;
    border-bottom-color: white;
   margin: 5px 0px 5px 15px;
}
::placeholder{
     color: white;
}
.main button{
    height: 30px;
    width: 250px;
    background-color: black;
    border: none;
    border-radius: 5px;
    margin: 5px 0px 0px 25px;
}
.contact a{
    text-decoration: none;
    color: white;
}
.mid{
    height: 700px;
    width: 1000px;
    margin: auto;
}
.mid h3{
    text-align: center;
    color: #93BE14;
    padding-top: 50px;
}
hr{
    border-width: 0.5px;
    width: 250px;
    border-color: #93BE14;
}
.one{
    height: 250px;
    width: 300px;
    margin: 15px;
    float: left;
}
.hex  {
  position:relative;
  margin:auto;
  text-align:center;
  overflow:hidden;
  white-space:nowrap;
  display:table;
}
.hex:before {
  content:'';
  padding-top:120%;
  display:inline-block;
  vertical-align:middle;
}

.hex:after {
  content:'';
  position:absolute;
  top:0%;
  left:-10%;
  width:120%;
  padding-top:120%;
  transform: rotatex(38deg) rotate(45deg);
  text-align:center;
  box-shadow:0 0 0 200px white;;
}
.hex img {
  display:inline-block;
  vertical-align:middle;
  margin:0 -10px;
}
.one h4{
    color: #93BE14;
}
.one p{
    color: black;
}
.bottom{
    height: 600px;
    width: 100%;
    background-image: url("gy.png");
    background-repeat: no-repeat;
    background-size: cover;
}
.bottom h2{
    text-align: center;
    color: white;
    padding-top: 50px;
}
.bottom hr{
    border-width: 0.5px;
    border-color: white;
}
.bottomone{
    height: 120px;
    width: 500px;
    margin: 25px 0px 0px 400px;
}
.bottomone h3{
    color: white;
}
.bottomone p{
    text-align: left;
}
.bottomtwo{
    height: 300px;
    width: 600px;
    float: left;
    margin: 20px 0px 20px 450px;

}
i{
    margin: 10px;
    color: white;
}
.bottomtwo h3{
    color: white;
    margin-left: 50px;
    margin-top: -50px;
}
.bottomtwo p{
    margin-right: -25px;
    margin-top: -15px;
}
.last{
    height: 500px;
    width: 100%;
    margin-top: 25px;
}
.last h2{
    text-align: center;
    color: #93BE14;
}
.last p{
    color: black;
}
.lastx{
    height: 100px;
    width: 300px;
    margin-left: 515px;
    margin-top: 100px;
}
.lasty{
    height: 80px;
    width: 1000px;
    margin: auto;
}
.lasty img{
    height: 100px;
    width: 110px;
    margin-left: 445px;
}
footer{
    height: 70px;
    width: 100%;
    background-color: #93BE14;
}
.nine{
    height: 100%;
    width: 50%;
    float: left;
}
.ten{
    height: 100%;
    width: 50%;
    float: left;
    margin-top: 15px;
}